{
  "semi": true,
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "plugins": ["prettier-plugin-tailwindcss"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^[./].*(?<!\\.(c|sc)ss)$",
    "^[.]/[-a-zA-Z0-9_]+[.](module)[.](css|scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
